.velocity-icon {
    width: 48px;
    height: 48px;
    display: inline-block;
    background-size: cover;
    background-image: url("../images/Icon-Velocity.svg");
}

.camera-icon {
    background-image: url("../images/icon-camera.svg");
    width: 24px;
    display: inline-block;
    background-size: cover;
}

.router-link-active,
.active {
    .velocity-icon {
        background-image: url("../images/Icon-Velocity-Active.svg");
    }

    &.velocity-icon {
        background-image: url("../images/Icon-Velocity-Active.svg");
    }
}

.eye-icon {
    background-image: url("../images/icon-eye.svg");
    width: 24px;
    height: 24px;
}

.cross-icon {
    background-image: url("../images/icon-crossed.svg");
    width: 18px;
    height: 18px;
}

.pencil-lg-icon {
    background-image: url("../images/Icon-Pencil-Large.svg");
    width: 24px;
    height: 24px;
}

.trash-icon {
    background-image: url("../images/Icon-Trash.svg");
    width: 24px;
    height: 24px;
}

.remove-icon {
    background-image: url("../images/Icon-remove.svg");
    width: 24px;
    height: 24px;
}

.store-icon {
    background-image: url("../images/store-icon.svg");
    height: 26px;
    width: 26px;
}

.export-icon {
    background-image: url("../images/Icon-Export.svg");
    width: 32px;
    height: 32px;
}